<div class="w-full px-3 py-6">
    <div class="overflow-hidden bg-white border rounded-lg shadow-lg">
        <a href="{{ product.url }}">
            {% if product.featured_image %}
            <div class="overflow-hidden h-80">
                <img class="object-cover w-full h-full transition duration-1000 ease-in-out transform hover:scale-105"
                    src="{{ product.featured_image | image_url }}" alt="{{ product.featured_image.alt }}"
                    width="{{ product.image.width }}" height="{{ product.image.height }}">
            </div>
            {% else %}
            {{ 'product-1'| placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            {% endif %}
        </a>
        <div class="flex flex-col p-4">
            <a href="{{ product.url }}" class="font-medium text-gray-700 uppercase">{{ product.title }}</a>
            <span class="text-sm text-gray-400">{{ product.vendor }}</span>
            <p class="text-gray-500">{{ product.price | money }}</p>
        </div>
    </div>
</div>