<article class="py-8">
  {% for block in section.blocks %}
  {% case block.type %}
  {% when 'article_title' %}
  <div class="flex items-center justify-center">
    <div class="text-center max-w-7xl">
      <a href="{{ blog.url }}" class="text-base font-bold text-gray-500 uppercase hover:text-gray-900">
        {{ blog.title }}
      </a>
      <h1 class="text-4xl font-medium md:text-6xl">{{ article.title }}</h1>
    </div>
  </div>

  {% when 'article_author' %}
  <div class="flex items-center justify-center">
    <div class="text-center max-w-7xl">
      {% if section.settings.enable_author %}
      <small>{{ article.author }}</small>
      {% endif %}
    </div>
  </div>

  {% when 'article_published_date' %}
  <div class="flex items-center justify-center">
    <div class="text-center max-w-7xl">
      {% if section.settings.enable_published_date %}
      <time datetime="{{article.published_at |  date: '%Y-%m-%d'}}">
        {{ article.published_at | date: format: 'on_date' }}
      </time>
      {% endif %}
    </div>
  </div>

  {% when 'featured_image' %}
  <div class="mx-auto my-4 overflow-hidden bg-blue-100 rounded-lg max-w-7xl">
    {% if article.image != blank %}
    <img class="object-cover object-center w-full h-80 md:h-96" src="{{article.image | image_url}}"
      alt="{{article.image.alt}}" width="{{ article.image.width }}" height="{{ article.image.height }}">
    {% else %}
    {% assign placeholder_image = 'lifestyle-2' %}
    {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h-96 object-cover object-center p-5' }}
    {% endif %}
  </div>

  {% when 'article_content' %}
  <div class="flex items-center justify-center">
    <div class="max-w-7xl md:w-[50%]">
      {{ article.content }}
    </div>
  </div>
  {% else %}

  {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
<div id="comments" class="my-8">
  {% if article.comments.count > 0 %}
  {% else %}
  No comments are available in this page...
  {% endif %}
</div>
<div id="comment_form" class="mb-8">
  {% form 'new_comment'
  , article %}
  <div class="items-center justify-center px-4 mx-auto max-w-7xl flex_1">
    <div class="px-1 mb-3 md:flex">
      <div class="w-[50%] px-3">
        <label for="comment_author" class="mb-2 text-xs font-medium text-gray-700 uppercase">Name</label>
        <input type="text" name="comment[author]" id="comment_author"
          class="w-full px-4 py-3 mb-3 text-gray-700 border focus:outline-none" placeholder="TALHA" required>
      </div>
      <div class="w-[50%] px-3">
        <label for="comment_email" class="mb-2 text-xs font-medium text-gray-700 uppercase">Email</label>
        <input type="text" name="comment[email]" id="comment_email"
          class="w-full px-4 py-3 mb-3 text-gray-700 border focus:outline-none" placeholder="talha@gmail.com" required>
      </div>
    </div>
    <div class="px-1 mb-3 md:flex">
      <div class="px-3 md:w-full">
        <label for="comment_content" class="mb-3 text-xs font-medium text-gray-700 uppercase">Comment</label>
        <textarea name="comment[body]" id="comment_content"
          class="w-full h-20 px-3 py-2 text-gray-700 border resize-none focus:outline-none"></textarea>
      </div>
    </div>
    <div class="px-1 mb-3 md:flex">
      <div class="px-3 md:w-full">
        <input type="submit" value="Post comment"
          class="w-full px-4 py-2 text-base font-medium text-black border cursor-pointer bg-[gray]">
      </div>
    </div>
  </div>
  {% endform %}
</div>
{% endif %}

{% schema %}
{
"name": "Template Article",
"settings": [
{
"type": "checkbox",
"id": "enable_author",
"default": true,
"label": "Display Author Name"
},
{
"type": "checkbox",
"id": "enable_published_date",
"default": true,
"label": "Display Published Date"
}
],
"blocks": [
{
"type": "article_title",
"name": "Title",
"limit": 1
},
{
"type": "article_author",
"name": "Author",
"limit": 1
},
{
"type": "article_published_date",
"name": "Published Date",
"limit": 1
},
{
"type": "featured_image",
"name": "Thumbnail",
"limit": 1
},
{
"type": "article_content",
"name": "Content",
"limit": 1
}
]
}
{% endschema %}